<header class="bg-neutral">
  <div class="container mx-auto">
    <div class="navbar">
      <div class="navbar-start">
        <app-logo></app-logo>
      </div>
      <div class="navbar-center">
        <app-search-input></app-search-input>
      </div>
      <div class="navbar-end">
        <ul class="menu menu-vertical menu-xs sm:menu-horizontal sm:menu-sm md:menu-md">
          <li>
            <app-profile-button></app-profile-button>
          </li>
          <li>
            <app-settings-button></app-settings-button>
          </li>
        </ul>
      </div>
    </div>

    <app-settings-options></app-settings-options>
  </div>
</header>
