<section class="card card-compact w-64 bg-neutral shadow-xl md:card-normal">
  <figure>
    <img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" />
  </figure>
  <div class="card-body items-center">
    <h2 class="card-title">Kuji Podcast #21</h2>
    <div class="flex flex-wrap justify-center gap-2">
      <div class="badge badge-primary badge-outline gap-2 text-xs">
        <i class="fa-solid fa-eye"></i>
        <span>1000</span>
      </div>
      <div class="badge badge-primary badge-outline gap-2 text-xs">
        <i class="fa-solid fa-heart"></i>
        <span>680</span>
      </div>
      <div class="badge badge-primary badge-outline gap-2 text-xs">
        <i class="fa-solid fa-heart-crack"></i>
        <span>320</span>
      </div>
      <div class="badge badge-primary badge-outline gap-2 text-xs">
        <i class="fa-solid fa-comments"></i>
        <span>250</span>
      </div>
    </div>
    <div class="card-actions">
      <button class="btn btn-primary btn-sm md:btn-md">More...</button>
    </div>
  </div>
</section>
